<div class="container content-offset">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>
        <i class="fa fa-tasks"></i>
        Reports - [[ report.display_name ]]
      </h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          [[ report.description ]]
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button ng-click="report.download({{ EXTRACT_ASYNC }})" class="btn btn-lg">Download this data</button>
        </div>
      </div>
    </div>
  </div>
</div>
