<div class="container content-offset">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>
        <i class="fa fa-tasks"></i>
        Reports - [[ report.display_name ]]
      </h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <p class="lead">
            {% block report_description %}
            [[ report.description ]]
            {% endblock report_description %}
          </p>
        </div>
      </div>
      <div class="row ">
        {% block report_options %}
          {% if object.get_report_options %}
            {% for report_option in object.get_report_options %}
              <div class="col-sm-6 col-md-3 content-offset-below-25">
                <div class="report-option">
                  {% include report_option.template %}
                  <div class="row">
                    <div class="text-center col-md-12">
                      {% include "reporting/report_option_button.html" %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            {% if object.no_report_templtate %}
              {% include object.no_report_templtate %}
            {% else %}
              <h3 class="text-center">{{ object.no_report_text }}</h3>
            {% endif %}
          {% endif %}
        {% endblock %}
      </div>
      {% block report_footer %}
      {% endblock %}
    </div>
  </div>
</div>
