{% load opal_json %}
{% if EXTRACT_ASYNC %}
{# click to start the async process #}
  <span ng-show="!report.asyncWaiting && !report.asyncReady">
    <button ng-click="report.startAsynchronousTask({{ report_option.criteria | jsonify }})" class="btn btn-lg btn-secondary">
      <i class="fa fa-cogs"></i>
      Get Report
    </button>
  </span>

  {# while we're waiting #}
  <span ng-show="report.asyncWaiting && !report.asyncReady">
    <button disabled class="btn btn-lg">
      <i class="fa fa-cog fa-spin" ></i>
    </button>
  </span>

  {# while we are go people #}
  <span ng-show="!report.asyncWaiting && report.asyncReady">
    <button ng-click="report.downloadAsynchronously()" class="btn btn-lg btn-secondary">
      <i class="glyphicon glyphicon-download"></i>
      Download
    </button>
  </span>
{% else %}
  <form action="[[ report.download_link ]]" method="post" target="_blank">
  {% csrf_token %}
  <input name="criteria" type="hidden" value='{{ report_option.criteria | jsonify }}'>
  <button type="submit" class="btn btn-lg btn-secondary">
    <i class="glyphicon glyphicon-download"></i>
    Get Report
  </button>
  </form>
{% endif %}
